
body{
  width: 0 auto;
  height: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
  font-family: Georgia, serif;
}
h2{
  text-align: center;
  font-family: Georgia, serif;
}

#boton{
  text-align: center;
}

.numero-1:hover{
  background-color: red;
  cursor: pointer;

}

button{
  font-size: 1em;
  padding: 15px 20px;
}

